<div class="content">
  <h2 i18n>Strona główna</h2>

  <aside>
    <p>
      <em>
        <a href="../" *ngIf="isEnglishVersion()">Wersja polska</a>
        <a href="./en-US/" *ngIf="!isEnglishVersion()">English version</a>
      </em>
    </p>
  </aside>

  <p i18n>
    Przygotowana prezentacja pokazuje piękno matematyki poznawanej
    poprzez jeden z jej działów &mdash; analizę zespoloną. Zaczynając od podstawowych pojęć związanych
    z liczbami zespolonymi, poprzez działania na nich, różnego rodzaju interpretacje wizualne,
    a kończąc na rozbudowanych funkcjach ukazuję nieodkrywany w szkole średniej
    świat o większej liczbie wymiarów.
  </p>

  <p i18n>
    Czytelnik zależnie od poziomu zainteresowania i zrozumienia może wybierać działy
    poczynając od prostych definicji i działań, a kończąc na przedłużeniach analitycznych
    i teorii całki.
  </p>

  <h3 i18n>Spis treści</h3>

  <a class="pageinfo" href="?page=1" i18n>Informacje o stronie</a>

  <ol class="toc">
    <li>
      <h4><a href="?page=2" i18n>Wstęp do liczb zespolonych</a></h4>
      <p i18n>Definicja, podstawowe własności i działania na liczbach zespolonych.</p>
    </li>
    <li>
      <h4><a href="?page=3" i18n>Ciągi zespolone i sfera Riemanna</a></h4>
      <p i18n>Reprezentacja ciągu zespolonego, wyobrażenie sfery Riemanna.</p>
    </li>
    <li>
      <h4><a href="?page=4" i18n>Funkcje dwóch zmiennych i funkcje zespolone</a></h4>
      <p i18n>Powierzchnie trójwymiarowe i różne reprezentacje funkcji zespolonych.</p>
    </li>
    <li>
      <h4><a href="?page=5" i18n>Granice funkcji zespolonych i pochodna zespolona</a></h4>
      <p i18n>Wyobrażenie granicy funkcji zespolonej, różniczkowanie funkcji.</p>
    </li>
    <li>
      <h4><a href="?page=6" i18n>Transformacje Möbiusa</a></h4>
      <p i18n>Zobrazowanie transformacji Möbiusa na płaszczyźnie zespolonej.</p>
    </li>
    <li>
      <h4><a href="?page=7" i18n>Szereg Taylora</a></h4>
      <p i18n>Aproksymacja funkcji rzeczywistych &mdash; wstęp do podstawowego narzędzia
        analizy zespolonej.</p>
    </li>
    <li>
      <h4><a href="?page=8" i18n>Przedłużenia analityczne</a></h4>
      <p i18n>"Szukanie" funkcji za pomocą szeregu Taylora.</p>
    </li>
    <li>
      <h4><a href="?page=9" i18n>Całka zespolona</a></h4>
      <p i18n>Operacja całkowania na funkcjach zespolonych.</p>
    </li>
  </ol>
</div>
