<div class="present">
  <div *ngIf="!playing" class="present-canvas not-playing">
    <div id="play" (click)="play()"></div>
    <span>
      Aby odtworzyć animację naciśnij przycisk powyżej.
      Do zmiany slajdów używaj strzałek.
      W niektórych prezentacjach możesz poruszać kamerą za pomocą myszy.
    </span>
  </div>
	<iframe *ngIf="playing" class="mathbox present-canvas" [src]="getIframeSrc()"></iframe>

	<div class="slide-text">
		<h4>{{ title }}</h4>
		<div class="slide-number">{{ slideNo + 1 }}/{{ slides.length }}</div>

    <ng-container *ngFor="let slide of slides; let i = index">
      <div class="slide" [hidden]="slideNo !== i " [innerHTML]="slide.content"></div>
    </ng-container>

		<div class="clear"></div>
		<div class="slide-buttons">
			<div class="arrow-left"
           (click)="slideBack()"
           [class.disabled]="!playing || slideNo == 0"></div>
			<div class="arrow-reload"
           (click)="slideReload()"
           [class.disabled]="!playing"></div>
			<div class="arrow-right"
           (click)="slideNext()"
           [class.disabled]="!playing || slideNo == slides.length - 1"></div>
		</div>
	</div>
</div>
